.icon-control {
    margin-top: 5px;
    float: right;
    font-size: 80%;
}

#listmobil-bg {
    content: "";
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Places the pseudo-element behind the body content */
}

.dropdown-width {
    width: 200px;
    padding: left;
}

.btn-light {
    background-color: #fff;
    border-color: #e4e4e4;
}

.list-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.list-menu a {
    color: #343a40;
}

.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px;
}

.card-product a.title {
    color: #212529;
    display: block;
}

.card-product-grid:hover .btn-overlay {
    opacity: 1;
}
.card-product-grid .btn-overlay {
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}

.img-wrap {
    overflow: hidden;
    position: relative;
    object-fit: cover;
}

.card-header .title {
    display: inline;
    text-align: center;
}

h6 .title {
    text-align: center;
}

input .range {
    width: 100%;
}

.max {
    margin-left: 2.8em;
}

.apply-button {
    width: 270px; /* Set your desired width */
    margin: 0 auto; /* Center the button */
    display: block; /* Ensure the button takes the specified width */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
}

.lokasi {
    margin-left: 600px;
}

.car-wrap{
    margin-bottom: 40px;
    -webkit-box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.06);
    box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.06);
    background: white;
    
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;

    .img{
        width: 100%;
        height: 220px;
        object-fit: cover;
    }
    .text{
        border-top: none;
        padding: 20px 30px 30px;
        margin: auto;
        .price{
            color: rgb(0, 0, 0);
            margin-bottom: 0;
            font-weight: 600;
            span{
                font-size: 12px;
                font-weight: 400;
                color: rgba(0,0,0,.3);
            }
        }
        h2{
            font-size: 20px;
            font-weight: 500;
            margin: auto;
            justify-content: center;
            align-items: center;
            a{
                color: black;
            }
        }
        span.cat{
            font-weight: 400;
            color: rgba(0,0,0,.6);
            display: block;
            margin: auto;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;
        }
        p.d-block{
            width: 100%;
            a{
                width: 50%;
            }
        }
    }
}

.car-wrap.visible {
    opacity: 1;
    transform: translateY(0);
}