header {
    width: 100%;
}

body {
    margin: 0;
    line-height: normal;
    color: #eaecee;
    background-color: #121212;
    font-family: Plus Jakarta Sans;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-100;
    filter: opacity(60%);
  }

.pembuka {
    color: #eaecee;
    font-size: 0.8em;
    letter-spacing: -0.05em;
    line-height: 100%;
    font-weight: 700;
}

.hero-left {
    margin-left: -0.35%;
}

.hero-right {
    margin-right: -7%;
    width: 656px;
}

.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #121212 !important;
}
  .form-title {
    background-color: #0d6efd;
    color: white;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: -30px -30px 20px -30px;
  }
  .btn-group-toggle .btn {
    border: 1px solid #ced4da;
  }
  .btn-group-toggle .btn-check:checked+.btn {
    background-color: #0d6efd;
    color: white;
    border-color: #0d6efd;
  }
  .btn-primary {
    background-color: #ffbf00;
    border: none;
    color: white;
  }

